Html {
    margin-right: auto;
    margin-left: auto;
    scroll-behavior: smooth}


body {
    background-image:url(../mainpage/images/background1024x681.jpg);
    background-size: cover;
    color: rgb(177, 169, 149);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;}
        

.middlesection {
    background-color: rgb(25, 28, 29);
    border-radius: 50px;}


.selfimg {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    color: rgb(150, 100, 0);}
    

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    font-size: 40pt;}


p   {
    text-align: center;
    padding:10px;
    font-size: 15pt;}   


nav ul li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    color: rgb(57, 79, 107);}

a {
    text-decoration: none;
    color: rgb(57, 79, 107);}
    


.footerimg {
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:20px}

.interests {
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: blue;
    text-decoration: underline;
    font-size: 30px;
    padding: 0;}

ul {padding: 0;}




    

               

